/* general */

body{
  background-color: #FCFBF3;
  margin: 0;
}

p{
    color: #1C2545; 
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.5vw;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1vh;
}

h1{
    color: #1C2545; 
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 1vh; 
}

h2{
    color: #1C2545; 
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.8vw;
    margin-top: 0;
    margin-bottom: 1vh;
}

#navbar{
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw ;
  height: 3.2vw;
  justify-content: center;
  background-color: #1C2545;
  border-radius: 50px;
  width: 40.2vw;
  margin: auto;
  margin-top: 3vh;
  position: relative;
  z-index: 1000;
}

.grid-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonesActivos {
  background-color: #FCFBF3;
  color: #1c2545; 
  text-align: center;
  width: 10vw;
  height: 3vw;
  border-radius: 50px;
  text-decoration: none;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones {
  background-color: #1C2545;
  color: #FCFBF3; 
  text-align: center;
  width: 10vw;
  height: 3vw;
  border-radius: 50px;
  text-decoration: none;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Inicio */

.logo{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 38vw;
  height: auto;
}


/* Proyectos */

.grid-containers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2vw;
  row-gap: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vw;
  margin-bottom: 6vh;
  align-items: center;
}

.grid-items img{
  border-radius: 10%;
  display: flex;
  width: 28vw;
  height: auto;
  top: auto;
  align-items: center;
}


#Titulo{
  display: flex;
  height: auto;
  margin-bottom: 3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 15vw;
  border: #1C2545 solid 2px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.Footer{
  width: 100%;
  height: 4vh;
  color: #FCFBF3;
  background-color: #1C2545;
  align-items: center;
  justify-items: center;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5vw;
  text-align: center;

}

.Ranitas img{
  width: 33vw;
  height: auto;
  margin-top: 3vh;
  margin-left: 8.5vw;
  bottom: 3vh;
  border-radius: 5%;
}

/* Sobre mi */

#yo{
  max-width: 33vw;
  max-height: 88vh;
  height: auto;
  width: auto;
  position: fixed;
  left: 8.5vw;
  bottom: 3vh;
  border-radius: 5%;
}

.info-container{
  width: 38vw;
  height: auto;
  text-align: left;
  position: fixed;
  right: 8.5vw;
  bottom: 3vh;
}

.logos-container{
  display: grid;
  grid-template-columns: 5vw 5vw 5vw 5vw;
  gap: 2vw;
  max-width: 45vw;
}

.logos-container img{
  height: 5vw;
  width: 5vw;
  margin-top: 1vh;
  justify-content: center;
  align-items: center;
  border-radius: 0%
}

/* Contacto */

.contacto-container{
  width: 38vw;
  height: auto;
  text-align: left;
  position: fixed;
  bottom: 3vh;
  left: 3vw;
}

#icon_insta{
  fill: #1C2545;
  height: 4vh;
  width: 4vw;
  margin: 0;
}

.link-insta a{
  display: flex;
  align-items: center;
  text-decoration: none;
}